.container {
  margin: 0;
  background-image: url("images/background-home.jpg");
}

.quote {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  background-color: #c22f2f;
  margin: 0;
  width: 100%;
  padding-left: 30px;
  font-family: "Sail", cursive;
  font-size: 36px;
}

.header-text {
  margin-bottom: 30px;
}

.logo-wrapper {
  background-color: black;
}

.navigation-logo {
  display: flex;
}

.button {
  color: black;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  height: 100px;
  width: 100px;
}

.page-buttons {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 25px 0;
}

.button.olive {
  background: #6f6823;
}
.button-text-about {
  display: flex;
  align-items: center;
}

.button.green {
  background: #4cc239;
}

.button.blue {
  background: #1c2fd7;
}

.button.orange {
  background: #f57e10;
}

.content {
  margin: 50px 0;
}

.content-home {
  display: flex;
  margin: 25px 0;
  border: 0;
  align-content: center;
}

.content-home-text {
  font-family: "Sanchez", serif;
  font-size: 36px;
  padding-left: 50px;
}

.text {
  margin-top: 0;
}

.description {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: black;
  padding: 20px;
}

.footer-text {
  display: flex;
  align-items: flex-end;
  color: white;
}

.footer-logo img {
  width: 50px;
  margin-right: 10px;
}
