.button {
  color: black;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  height: 100px;
  width: 100px;
}

.container {
  margin: 0;
  background-image: url("images/background-home.jpg");
}

.page-buttons {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: 25px 0;
}

.button.olive {
  background: #6f6823;
}
.button-text-about {
  display: flex;
  align-items: center;
}

.button.green {
  background: #4cc239;
}

.button.blue {
  background: #1c2fd7;
}

.button.orange {
  background: #f57e10;
}

.content {
  margin: 50px 0;
}

.content-home-image {
  display: flex;
  margin: 25px 0;
  border: 0;
  align-content: center;
}

.description {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer {
  margin: 25px 0;
}

.footer-text {
  display: flex;
  justify-content: flex-end;
}
